* {
  padding: 0;
  margin: 0;
  list-style-type:none;
}

.border-top {
  border-top: 1px solid #b0afaf;
  border-right: 1px solid #b0afaf;
}

.no-border-right {
  border-right: none;
}

span[style='color:#12C194']{
  color: red !important;
  padding: 0 4px;
  background-color: yellow;
}
